<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Réception</title>
        <link href = "../css/ratchet-theme-android.css" rel = "stylesheet">
        <link href = "../css/ratchet.css" rel = "stylesheet">
    </head>
    <body>
        <nav class="bar bar-tab">
          <a class="tab-item" id="Pprofile" type = "button">
            <span class="icon icon-person"></span>
            <span class="tab-label">Profile</span>
          </a>
          <a class="tab-item active" id="Preception" type = "button">
            <span class="icon icon-list"></span>
            <span class="tab-label">Réception</span>
          </a>
          <a class="tab-item" id="Pcompose" type = "button">
            <span class="icon icon-compose"></span>
            <span class="tab-label">Compose</span>
          </a>
          <a class="tab-item" id="Pconfiguration" type = "button">
            <span class="icon icon-gear"></span>
            <span class="tab-label">Configuration</span>
          </a>
        </nav>

      <div class="bar-tab">
      <div class="content" style="padding-top: 50px; padding-bottom: 0;" >
        <ul class="table-view">
          <li class="table-view-cell media">
            <a class="navigate-right">
              <img class="media-object pull-left" height="50" width="50" src="img/logo.png" />
              <div class="media-body">
                Item 1
                <p>Test 1 Reception: Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore. Lorem ipsum dolor sit amet.</p>
              </div>
            </a>
          </li>
          <li class="table-view-cell media">
            <a class="navigate-right">
              <img class="media-object pull-left" height="50" width="50" src="img/test.jpg" />
              <div class="media-body">
                Item 2
                <p>Test 2 : Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore. Lorem ipsum dolor sit amet.</p>
              </div>
            </a>
          </li>
          <li class="table-view-cell media">
            <a class="navigate-right">
              <img class="media-object pull-left" height="50" width="50" src="img/test.jpg" />
              <div class="media-body">
                Item 3
                <p>Test 3 : Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore. Lorem ipsum dolor sit amet.</p>
              </div>
            </a>
          </li>
        </ul>
      </div>
      </div>




    </body>
</html>
